<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.mapper.AppointmentMapper">

    <resultMap id="BaseResultMap" type="com.soft.pojo.Appointment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="appuser" column="appuser" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="olduser" column="olduser" jdbcType="VARCHAR"/>
            <result property="apptime" column="apptime" jdbcType="TIMESTAMP"/>
            <result property="islock" column="islock" jdbcType="VARCHAR"/>
            <result property="createuser" column="createuser" jdbcType="VARCHAR"/>
            <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
            <result property="visittime" column="visittime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,appuser,phone,
        olduser,apptime,islock,
        createuser,createtime,visittime
    </sql>
</mapper>
