<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.mapper.FloorMapper">

    <resultMap id="BaseResultMap" type="com.soft.pojo.Floor">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="floorName" column="floor_name" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,floor_name,sort,
        create_time,update_time
    </sql>

    <!-- 统计指定楼层的房间数量 -->
    <select id="countRoomsByFloorId" resultType="integer">
        SELECT COUNT(*) FROM t_room WHERE floor_id = #{floorId}
    </select>

</mapper>
