<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.soft.pojo.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="elderlyId" column="elderly_id" jdbcType="INTEGER"/>
            <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
            <result property="orderAmount" column="order_amount" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="nursingItemId" column="nursing_item_id" jdbcType="INTEGER"/>
            <result property="expectedServiceTime" column="expected_service_time" jdbcType="TIMESTAMP"/>
            <result property="cancelReason" column="cancel_reason" jdbcType="VARCHAR"/>
            <result property="paidAt" column="paid_at" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,elderly_id,
        customer_id,order_amount,status,
        nursing_item_id,expected_service_time,cancel_reason,
        paid_at,create_time,update_time
    </sql>
</mapper>
