<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.mapper.RoomMapper">

    <resultMap id="BaseResultMap" type="com.soft.pojo.Room">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="floorId" column="floor_id" jdbcType="INTEGER"/>
            <result property="roomTypeId" column="room_type_id" jdbcType="INTEGER"/>
            <result property="roomNumber" column="room_number" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,floor_id,room_type_id,
        room_number,sort,status,
        create_time,update_time
    </sql>

    <!-- 统计指定房间的床位数量 -->
    <select id="countBedsByRoomId" resultType="integer">
        SELECT COUNT(*) FROM t_bed WHERE room_id = #{roomId}
    </select>

</mapper>
